.gradle/
build/
local.properties
*.jks
*.keystore
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

# Signing
keystore.properties

# Fastlane
fastlane/play-store-key.json
fastlane/report.xml

.kotlin/
